@import "tailwindcss";

@theme {
  --color-background: hsl(50, 22%, 75%);
  --color-primary: hsl(45, 8%, 28%);
  --color-secondary: hsl(48, 30%, 79%);
  --color-accent: hsl(48, 15%, 65%);
  --color-tertiary: hsl(44, 8%, 36%);
}

body,
html {
  width: 100vw;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
